*{
  margin:0;
  padding:0;
  
}
body{
  background-image: url("image-6.png");
  background-attachment: fixed;
}
.header .title{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: 800;
  padding-top: 2px;
  position: fixed;
  background-color: greenyellow;
}

.header .navbar{
  margin-top: 50px;
  width: 100%;
  height:50px;
  position: fixed;
  display: flex;
  justify-content: center;
  column-gap: 80px;
  padding: 5px 0px;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: rgb(134, 131, 127)
}
.header a{
  
  color:white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
}
.header a:hover{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: black;
  padding: 10px;
}
table{
  border-width: 2px;
  border: #282c34; 
  color: blue;
}

.section{
  display: flex;
  
  width:100%;
  column-gap: 5px;
  padding-top: 100px;

 
}
.section .left{
  display: inline;
  width:20%;
  text-align: center;
  
  
}
.section .left .button2{
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
  
  align-items: center;
  margin-left: 25px;
  font-size: 25px;
  font-weight: 500;
  background-color:#282c34;
}
.section .left a{
  text-decoration: none;
  color:white;
  margin-top: 0;
  
}
.section .left a:hover{
  color:blue;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  padding: 5px 20px;
  border-radius: 20px;
}

.section .center{
  width:60%;
  display: flex;
  justify-content: center;
  
}
.section .center h1{
  padding-top: 50px;
  font-size: 50px;
  
  font-weight: 600;
  text-shadow: #282c34;
  
}

.section .right{
  display: inline;
  width:20%;
  text-align: center;
 

}
.section .right .button2{
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  margin-top: 10px;
  
  align-items: center;
  
  font-size: 25px;
  font-weight: 500;
  background-color:#282c34;
}
.section .right a{
  text-decoration: none;
  color:white;
  margin-top: 0;
  
}
.section .right a:hover{
  color:black;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  padding: 5px 20px;
  border-radius: 20px;
}

.section2{
  display: flex;
}
.section2 .image {
  
  margin: 10px;
  
  border: 2px solid black;
}
.section2   img{
  
  border-radius: 50%;
  border-width: 2px;
  margin: 10px;
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  width: 320px;;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
  display: block;
  color: black;
  padding: 12px 5px;
  width: auto;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
.dropdown:hover .dropdown-content{
  display:block;
}

.dropdown-content a:hover{
  background-color: aliceblue;
}

.dropdown:hover .dropbtn {background-color: rgb(18, 238, 26,0.5);}

.subdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  width: 320px;;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.navbar ul ul {
  display: none;
}

.navbar ul li:hover > ul {
  display: block;
}

   
      .navbar ul li:hover a {
        color: #fff;
      }
    
      .navbar ul li {
        list-style: none;
      }
    
   
  .navbar ul ul {
    background: #5f6975; 
    border-radius: 0px; 
    position: absolute; top: 100%;
    
    margin-top: 5px;
    width: 200px;
  }
    .navbar ul ul li {
       
      border-top: 1px solid #6b727c;
      border-bottom: 1px solid #575f6a; 
      position: relative;
      padding: 10px;
      text-align: center!important;
    }
      .navbar ul ul li a {
        font-size: 15px;
        color: #fff;

      } 
        .navbar ul ul li a:hover {
          background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        }
    
  .navbar ul ul ul {
    position: absolute; left: 100%; top:0;
  }
    
  .sec2{
    text-align: center;
    width:80%;
    height: 600px;
    border-radius: 2px solid black;
    background-color: white;
    margin-left: 100px;
    
  }
  .sec3{
    margin-top: 100px;
    text-align: center;
    width:80%;
    height: 600px;
    border-radius: 2px solid black;
    background-color: rgb(216, 11, 11);
    margin-left: 100px;
    
  }
  .sec4{
    margin-top: 100px;
    text-align: center;
    width:80%;
    height: 600px;
    border-radius: 2px solid black;
    background-image: url("image3.jpg");
    margin-left: 100px;
    
  }