*{
    margin:0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    
    margin-top: 50px;
    width: 80%;
    margin-left: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgba(2,240,30,1),rgba(100,100,150,1));
}
.grid a{
    padding:    10px;
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: antiquewhite;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    margin: 40px;
    text-decoration: none;
}
.grid a:hover{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: black;
    z-index: 0;
}
.layout h1{
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 60%;
    border-radius: 20px;
    margin-left: 250px;
    background-image: linear-gradient(to right,rgba(2,240,30,1),rgba(100,100,150,1));
}