*{
    margin:0;
    padding:0;
    
    
}
.sess .type{
    display: grid;
    grid-template-columns: 33% 33% 33%  ;
    margin: 0% 5%;
    row-gap: 60px;
    
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.sess p{
    color:white;
    text-align: center;
     font-size: 25px;
     font-weight: 700;
     margin-top: 50px;
     margin-bottom: 50px;
     width:60%;
     margin-left: 300px;
     padding: 10px;
     border-radius: 50px;
     background-image: linear-gradient(to right,rgba(2,240,30,1),rgba(100,100,150,1));
 }
 
.sess h1{
    color:white;
   text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    width:70%;
    margin-left: 200px;
    padding: 20px;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgba(2,240,30,1),rgba(100,100,150,1));
}

.sess  a{
   width:auto;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
    padding: 20px ;
    color:white;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgba(2,240,30,1),rgba(100,100,150,1));
    
}
.sess  a:hover{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: black;
    border-radius: 50px;

}

